<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <!-- native css directory -->
    <link rel="stylesheet" href="/css/app.css"> 
  </head>
    <body>
    <h1>Steak List</h1>
      <h2>Add Steaks to Your List<h2>
        
        <a  href="steaks/new" method="GET"class="waves-effect waves-light btn">Add New Steak</a>
      
    </body>
</html>