<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <!-- native css directory -->
    <link rel="stylesheet" href="/css/app.css"> 
  </head>
    <body>
<form action="#">
    <h1>Steak List</h1>
    <h2>Add Steaks to Your List<h2>
  </form>

    </body>
</html>