<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Steak Page</h1>
        The <%=steaks.steakname; %> from <%=steaks.restaurant; %>
        is a <%=steaks.rating; %> and cooked <%=steaks.doneness; %>.
       
        <nav>
            <a href="/steaks">Back to All Steaks</a>
        </nav>
    </body>
</html>